$breakpointsBS: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);

$paleta: (
    primario: rgb(250, 240, 223),
    secundario: rgba(240, 220, 190, 0.7),
    terciario: rgb(226, 194, 146)
);